.kfsimpleintro-wrapper {
    background-color: o-color('o-color-3') !important;
    padding: 96px 0;

    .kfsimpleintro {
        h1 {
            color: #000000;

            font-size: 48px;
            font-style: normal;
            font-weight: 700;
            line-height: 125%; /* 60px */

            margin-bottom: 24px;
        }

        .lead {
            color: o-color('o-color-5');

            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 150%; /* 30px */
        }
    }
}