.o_header_standard {
    .o_main_nav {
        background-color: #ffffff !important;

        >.container {
            padding-top: 8px !important;
            padding-bottom: 24px !important;

            background-color: #ffffff !important;
        }
    }

    .o_header_mobile {
        background-color: #ffffff !important;
    }

    .kf-top-header-links {
        display: inline-flex;
        justify-content: start;
        align-items: center;

        margin-top: 0 !important;
        margin-bottom: 0 !important;

        gap: 2rem;

        list-style-type: none;

        span {
            color: o-color('o-color-4') !important;
            font-size: 14px !important;
        }
    }

    .o_header_sales_three_top {
        background-color: #000000 !important;

        >.container {
            padding-top: 12px !important;
            padding-bottom: 12px !important;
        }
    }

    .header-contact-info {
        display: flex;
        align-items: center;
        gap: 2rem;

        font-size: 14px !important;

        .icon-wrapper {
            width: 26px;
            height: 26px;

            border-radius: 13px;
            background-color: o-color('o-color-1');

            color: o-color('o-color-4');

            display: flex;
            justify-content: center;
            align-items: center;

            i {
                font-size: 0.9rem;

                color: o-color('o-color-4');
            }
        }

        span {
            color: o-color('o-color-4');
            margin-left: 0.5rem;

            a {
                color: o-color('o-color-4') !important;
                text-decoration: none;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
    }

    .navbar-nav.top_menu {

        .nav-item {
            color: o-color('o-color-5') !important;

            a {
                color: o-color('o-color-5') !important;

                span {
                    color: o-color('o-color-5') !important;
                }

                &:hover {
                    color: o-color('o-color-1') !important;

                    span {
                        color: o-color('o-color-5') !important;
                    }
                }
            }
        }
    }


    .nav-link.active {
        color: o-color('o-color-1') !important;
    }

    .kf-top-link-icons {
        display: flex;
        align-items: center;

        font-size: 14px !important;

        a {
            color: o-color('o-color-4') !important;
        }

        i {
            color: o-color('o-color-4') !important;
        }
    }

    .nav-link.dropdown-toggle::after {
        color: o-color('o-color-4') !important;
    }


    // Intro styling
    .kftheme_intro {
        text-align: left;
    }

    .navbar-brand .img {
        height: 67px !important;
    }

    .navbar-nav.top_menu {
        gap: 16px !important;
        justify-content: end !important;
    }

    .s_mega_menu_odoo_menu_footer {
        display: none;
    }

    #top_menu {
        .o_mega_menu_toggle.dropdown-toggle::after {
            display: inline-block;
            text-rendering: auto;
            -webkit-font-smoothing: antialiased;
            font: var(--fa-font-solid);

            content: '\f078' !important;

            color: #000 !important;
            font-size: 12px !important;
            border: none !important;
            vertical-align: middle;
        }
    }

    .o_mega_menu {
        background: none !important;
        border: none !important;
    }

    .s_mega_menu_odoo_menu {
        padding-top: 0 !important;
        background: none !important;
        border: none !important;
    }

    .kf-megamenu {
        padding: 24px 0 48px 0 !important;
        background-color: #F3F4F6 !important;

        grid-template-columns: repeat(4, 1fr);
        display: grid;
        gap: 16px;

        .mega-menu-col {
            display: flex;
            flex-direction: column;
            gap: 20px;

            padding: 0 16px;

            h3 {
                color: o-color('o-color-5') !important;
                font-size: 16px;
                font-style: normal;
                font-weight: 700;
                line-height: 16px;
                padding-bottom: 20px;
                margin-bottom: 0;
                border-bottom: 1px solid #E5E7EB !important;

                i {
                    margin-right: 15px;
                }
            }

            ul {
                list-style-type: none;
                padding: 0;
                display: flex;
                flex-direction: column;
                gap: 20px;

                li {

                    a {
                        color: #4B5563 !important;
                        font-size: 14px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: 21px;

                        &:hover {
                            text-decoration: underline;
                        }

                        i {
                            font-size: 12px;
                            margin-right: 8px;
                        }
                    }
                }
            }

        }
    }

    .kf-top-link-icons {
        color: #ffffff !important;
    }

    .js_language_selector {
        color: o-color('o-color-4') !important;

        button span {
            color: o-color('o-color-4') !important;
        }
    }
}