input[type="text"],
input[type="email"],
input[type="tel"],
input[type="number"],
select.form-select {
    padding: 14px 16px;
    border: 1px solid #D1D5DB;
    background: #F9FAFB;

    border-radius: 0;
}


textarea {
    padding: 14px 16px;
    border: 1px solid #D1D5DB;
    background: #F9FAFB;

    border-radius: 0;
}

.s_person_search_form {
    margin-bottom: 1.5rem;
}